<a href="https://colab.research.google.com/github/Nirvik663/iris-data-set/blob/master/iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [11]:
df=pd.read_csv('https://raw.githubusercontent.com/Nirvik663/iris-data-set/master/IRIS.csv')
df[10:20]

    sepal_length  sepal_width  petal_length  petal_width      species
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa

In [14]:
for i in range( len(df['sepal_length'])):
  if df['sepal_length'][i] == 5.8:
    print(df['sepal_length'][i+1])

5.7
6.2
6.0
5.0
7.1
6.4
6.8